In [3]:
import pandas as pd
import numpy as np

train=pd.read_csv(r'appian-x-iit-madras-hackathon-april-2025\train.csv')
test=pd.read_csv(r'appian-x-iit-madras-hackathon-april-2025\test.csv')

In [4]:

#display all columns
pd.set_option('display.max_columns', None)
train.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Target
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/2012,58,635.0,88,546.0,172,88,88.0,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/2014,38,11.0,1,6.0,2,1,6.0,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426.0,49,127.0,111,21,42.0,1,8,2,10,4,0,0,0,0,0,0,3,11,1
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/2014,26,11.0,4,20.0,10,3,5.0,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173.0,43,118.0,46,27,15.0,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   673 non-null    int64
 1   Year_Birth           673 non-null    int64
 2   Education            673 non-null    object
 3   Marital_Status       673 non-null    object
 4   Income               666 non-null    float64
 5   Kidhome              673 non-null    int64
 6   Teenhome             673 non-null    int64
 7   Dt_Customer          673 non-null    object
 8   Recency              673 non-null    int64
 9   MntWines             661 non-null    float64
 10  MntFruits            673 non-null    int64
 11  MntMeatProducts      664 non-null    float64
 12  MntFishProducts      673 non-null    int64
 13  MntSweetProducts     673 non-null    int64
 14  MntGoldProds         666 non-null    float64
 15  NumDealsPurchases    673 non-null    int64
 16  NumWebPurchases      673 non-null    int64
 17  NumCatalogPurchases  673 non-null    int64
 18  NumStorePurchases    673 non-null    int64
 19  NumWebVisitsMonth    673 non-null    int64
 20  AcceptedCmp3         673 non-null    int64
 21  AcceptedCmp4         673 non-null    int64
 22  AcceptedCmp5         673 non-null    int64
 23  AcceptedCmp1         673 non-null    int64
 24  AcceptedCmp2         673 non-null    int64
 25  Complain             673 non-null    int64
 26  Z_CostContact        673 non-null    int64
 27  Z_Revenue            673 non-null    int64
dtypes: float64(4), int64(21), object(3)
memory usage: 147.3+ KB

In [6]:
#unique values in each column
for col in train.columns:
    print(f"{col}: {train[col].nunique()} unique values")

ID: 1567 unique values
Year_Birth: 58 unique values
Education: 5 unique values
Marital_Status: 6 unique values
Income: 1423 unique values
Kidhome: 3 unique values
Teenhome: 3 unique values
Dt_Customer: 608 unique values
Recency: 100 unique values
MntWines: 655 unique values
MntFruits: 148 unique values
MntMeatProducts: 472 unique values
MntFishProducts: 168 unique values
MntSweetProducts: 165 unique values
MntGoldProds: 193 unique values
NumDealsPurchases: 15 unique values
NumWebPurchases: 13 unique values
NumCatalogPurchases: 14 unique values
NumStorePurchases: 14 unique values
NumWebVisitsMonth: 15 unique values
AcceptedCmp3: 2 unique values
AcceptedCmp4: 2 unique values
AcceptedCmp5: 2 unique values
AcceptedCmp1: 2 unique values
AcceptedCmp2: 2 unique values
Complain: 2 unique values
Z_CostContact: 1 unique values
Z_Revenue: 1 unique values
Target: 2 unique values

In [7]:
#print the unique values in the target column
print(train['Education'].unique())

['Graduation' 'PhD' 'Master' 'Basic' '2n Cycle']

In [8]:
train['Marital_Status'].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone'],
      dtype=object)

In [9]:
Education = {}
Marital_status = {}
A = train['Education'].unique()
B = train['Marital_Status'].unique()
for i, category in enumerate(A):
    l = [0]*len(A)
    l[i] = 1
    print(f"{i}: {category}")
    Education[category] = l
for i, category in enumerate(B):
    l = [0]*len(B)
    l[i] = 1
    print(f"{i}: {category}")
    Marital_status[category] = l

0: Graduation
1: PhD
2: Master
3: Basic
4: 2n Cycle
0: Single
1: Together
2: Married
3: Divorced
4: Widow
5: Alone

In [10]:
Education

{'Graduation': [1, 0, 0, 0, 0],
 'PhD': [0, 1, 0, 0, 0],
 'Master': [0, 0, 1, 0, 0],
 'Basic': [0, 0, 0, 1, 0],
 '2n Cycle': [0, 0, 0, 0, 1]}

In [11]:
Marital_status

{'Single': [1, 0, 0, 0, 0, 0],
 'Together': [0, 1, 0, 0, 0, 0],
 'Married': [0, 0, 1, 0, 0, 0],
 'Divorced': [0, 0, 0, 1, 0, 0],
 'Widow': [0, 0, 0, 0, 1, 0],
 'Alone': [0, 0, 0, 0, 0, 1]}

In [12]:
train['Dt_Customer_1'] = pd.to_datetime(train['Dt_Customer'],format='mixed')
train['Dt_Customer_1'] = train['Dt_Customer_1']-min(train['Dt_Customer_1'])
train['Dates']=train['Dt_Customer_1'].dt.days

In [13]:
train['Marital_Status'] = train['Marital_Status'].map(Marital_status)
train['Education'] = train['Education'].map(Education)

In [14]:
train

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Target,Dt_Customer_1,Dates
0,5524,1957,"[1, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0]",58138.0,0,0,4/9/2012,58,635.0,88,546.0,172,88,88.0,3,8,10,4,7,0,0,0,0,0,0,3,11,1,92 days,92
1,2174,1954,"[1, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0]",46344.0,1,1,8/3/2014,38,11.0,1,6.0,2,1,6.0,2,1,1,2,5,0,0,0,0,0,0,3,11,0,938 days,938
2,4141,1965,"[1, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]",71613.0,0,0,21-08-2013,26,426.0,49,127.0,111,21,42.0,1,8,2,10,4,0,0,0,0,0,0,3,11,1,591 days,591
3,6182,1984,"[1, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0]",26646.0,1,0,10/2/2014,26,11.0,4,20.0,10,3,5.0,2,2,0,4,6,0,0,0,0,0,0,3,11,0,998 days,998
4,5324,1981,"[0, 1, 0, 0, 0]","[0, 0, 1, 0, 0, 0]",58293.0,1,0,19-01-2014,94,173.0,43,118.0,46,27,15.0,5,5,3,6,5,0,0,0,0,0,0,3,11,0,742 days,742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,9530,1988,"[1, 0, 0, 0, 0]","[0, 0, 1, 0, 0, 0]",24645.0,1,0,1/11/2012,16,5.0,3,4.0,4,1,0.0,1,1,0,2,8,0,0,0,0,0,0,3,11,0,3 days,3
1563,4828,1954,"[1, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0]",79865.0,0,1,18-06-2014,12,71.0,99,278.0,185,121,38.0,1,5,10,5,1,0,0,0,0,0,0,3,11,1,892 days,892
1564,10699,1985,"[1, 0, 0, 0, 0]","[0, 0, 1, 0, 0, 0]",44322.0,1,0,16-06-2014,30,46.0,0,40.0,3,0,3.0,2,3,0,3,8,0,0,0,0,0,0,3,11,0,890 days,890
1565,1497,1952,"[1, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0]",47958.0,0,1,19-01-2013,8,268.0,11,88.0,15,3,22.0,2,6,3,5,5,0,0,0,0,0,0,3,11,1,377 days,377
1566,7476,1964,"[0, 0, 1, 0, 0]","[1, 0, 0, 0, 0, 0]",63972.0,0,1,2/12/2012,93,928.0,63,254.0,0,12,12.0,4,5,4,10,4,0,1,0,0,0,0,3,11,1,35 days,35

In [19]:
import torch.nn as nn
import torch.optim as optim
import torch
default_list = [1]*23

class Imputation_layer(nn.Module):
    def __init__(self):
        super(Imputation_layer, self).__init__()
        self.impute = nn.Parameter(torch.tensor(default_list, dtype=torch.float32), requires_grad=True)
    def forward(self, x):
        mask = torch.isnan(x)
        print(x.shape, self.impute.shape)
        print(mask.shape)
        x[mask] = self.impute.expand(x.shape[0], -1)[mask]
        return x
class TrainableScaler(nn.Module):
    def __init__(self, num_features):
        super().__init__()
        self.mean = nn.Parameter(torch.zeros(num_features))
        self.std = nn.Parameter(torch.ones(num_features))

    def forward(self, x):
        return (x - self.mean) / (self.std + 1e-6)
    
class Model0(nn.Module):
    def __init__(self, in_features=34, layers_list=[64,128,128,64,32]):
        super(Model0, self).__init__()
        self.imputer = Imputation_layer()
        self.scaler = TrainableScaler(in_features-11)
        self.edu_linear = nn.Linear(5, 5)
        self.marital_linear = nn.Linear(6, 6)
        self.main_linears = nn.Sequential(
            nn.Linear(in_features, layers_list[0]),
            nn.ReLU(),
        )
        for i in range(1,len(layers_list)):
            self.main_linears.append(nn.Linear(layers_list[i-1], layers_list[i]))
            self.main_linears.append(nn.ReLU())
        final_fc = nn.Linear(layers_list[-1], 1)
        self.main_linears.append(final_fc)
        self.main_linears.append(nn.Sigmoid())
        

    def forward(self, x):
        x_num = torch.cat(x[:-2])
        x_num = torch.transpose(x_num, 0, 1)
        x_num = x_num.float()
        x_edu = torch.transpose(x[-2], 0, 1)
        x_marital = torch.transpose(x[-1], 0, 1)
        x_num = self.imputer(x_num)
        x_num = self.scaler(x_num)
        x_edu = self.edu_linear(x_edu).squeeze(1)
        x_marital = self.marital_linear(x_marital).squeeze(1)
        print(x_num.shape, x_edu.shape, x_marital.shape)
        x = torch.cat((x_num, x_edu, x_marital), dim=1)
        x = self.main_linears(x)
        return x[:,0]

In [23]:
test_case = []
lists = [
    'Year_Birth',
    'Income',
    'Kidhome',
    'Teenhome',
    'Dates',
    'Recency',
    'MntWines',
    'MntFruits',
    'MntMeatProducts',
    'MntFishProducts',
    'MntSweetProducts',
    'MntGoldProds',
    'NumWebPurchases',
    'NumCatalogPurchases',
    'NumStorePurchases',
    'NumDealsPurchases',
    'NumWebVisitsMonth',
    'AcceptedCmp1',
    'AcceptedCmp2',
    'AcceptedCmp3',
    'AcceptedCmp4',
    'AcceptedCmp5',
    'Complain',
    'Education',
    'Marital_Status'
]
for i in lists:
    test_case.append(torch.tensor(train[i][:2], dtype=torch.float32).unsqueeze(0))

In [24]:
len(test_case)

25

In [25]:
model = Model0(in_features=34, layers_list=[64,128,128,64,32])
model(test_case)

torch.Size([2, 23]) torch.Size([23])
torch.Size([2, 23])
torch.Size([2, 23]) torch.Size([2, 5]) torch.Size([2, 6])

tensor([0.9982, 0.9777], grad_fn=<SelectBackward0>)

In [27]:
from torchinfo import summary


summary(model)

=================================================================
Layer (type:depth-idx)                   Param #
=================================================================
Model0                                   --
├─Imputation_layer: 1-1                  23
├─TrainableScaler: 1-2                   46
├─Linear: 1-3                            30
├─Linear: 1-4                            42
├─Sequential: 1-5                        --
│    └─Linear: 2-1                       2,240
│    └─ReLU: 2-2                         --
│    └─Linear: 2-3                       8,320
│    └─ReLU: 2-4                         --
│    └─Linear: 2-5                       16,512
│    └─ReLU: 2-6                         --
│    └─Linear: 2-7                       8,256
│    └─ReLU: 2-8                         --
│    └─Linear: 2-9                       2,080
│    └─ReLU: 2-10                        --
│    └─Linear: 2-11                      33
│    └─Sigmoid: 2-12                     --
=================================================================
Total params: 37,582
Trainable params: 37,582
Non-trainable params: 0
=================================================================

In [9]:
import pandas as pd
df1=pd.read_csv(r"C:\Users\heman\Downloads\catboost_submission_3.csv")
df2=pd.read_csv(r"catboost_submission_6.csv")

(df1['Target']==df2['Target']).mean()

np.float64(0.962852897473997)